In [1]:
import pandas as pd
melb = pd.read_csv("C:\\Users\\HP\\Documents\\DATASCIENCE\\Dataset\\Melbourne_housing_FULL.csv")
mel_price = melb.Price.fillna(melb.Price.mean())
melb_room = pd.DataFrame(melb.Rooms, columns=["Rooms"])
melb_bed = melb.Bedroom2.fillna(melb.Bedroom2.mean())
melb.corr()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.465238,0.271511,0.085890,0.946755,0.611826,0.393878,0.037402,0.156229,-0.012749,0.004872,0.103235,-0.071677
Price,0.465238,1.000000,-0.211384,0.044950,0.430275,0.429878,0.201803,0.032748,0.100754,-0.333306,-0.215607,0.197874,-0.059017
Distance,0.271511,-0.211384,1.000000,0.481566,0.269524,0.126201,0.241835,0.060862,0.076301,0.323059,-0.100417,0.200946,-0.018140
Postcode,0.085890,0.044950,0.481566,1.000000,0.089292,0.120080,0.067886,0.040664,0.042437,0.089805,-0.231027,0.362895,0.017108
Bedroom2,0.946755,0.430275,0.269524,0.089292,1.000000,0.614892,0.388491,0.037019,0.154157,-0.002022,0.003447,0.106164,-0.053451
Bathroom,0.611826,0.429878,0.126201,0.120080,0.614892,1.000000,0.307518,0.036333,0.147558,0.167955,-0.059183,0.106531,-0.032887
Car,0.393878,0.201803,0.241835,0.067886,0.388491,0.307518,1.000000,0.037829,0.104373,0.128702,-0.009020,0.047213,-0.009617
Landsize,0.037402,0.032748,0.060862,0.040664,0.037019,0.036333,0.037829,1.000000,0.354530,0.044474,0.025318,-0.002582,-0.018195
BuildingArea,0.156229,0.100754,0.076301,0.042437,0.154157,0.147558,0.104373,0.354530,1.000000,0.067811,0.017155,-0.002143,-0.024523
YearBuilt,-0.012749,-0.333306,0.323059,0.089805,-0.002022,0.167955,0.128702,0.044474,0.067811,1.000000,0.091592,-0.022175,0.022420
Lattitude,0.004872,-0.215607,-0.100417,-0.231027,0.003447,-0.059183,-0.009020,0.025318,0.017155,0.091592,1.000000,-0.345589,0.011112
Longtitude,0.103235,0.197874,0.200946,0.362895,0.106164,0.106531,0.047213,-0.002582,-0.002143,-0.022175,-0.345589,1.000000,0.016326
Propertycount,-0.071677,-0.059017,-0.018140,0.017108,-0.053451,-0.032887,-0.009617,-0.018195,-0.024523,0.022420,0.011112,0.016326,1.000000

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(melb_room, melb_bed, test_size = 0.2)
X_train

       Rooms
14882      2
10259      2
7308       2
14827      2
2771       3
...      ...
27197      4
8855       1
19692      3
403        1
11463      2

[27885 rows x 1 columns]

In [3]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [5]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
# y_pred.shape
# y_pred

(6972,)

In [130]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
intercept = lr.intercept_
print(r2)
print(mse)
print(mae)
print(intercept)

0.6869009969400515
0.227959815528337
0.31072172413029464
0.8851059343548258

In [133]:
# How the landsize, buildingarea, newsuburb and distance affect the price

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
melb['newsuburb'] = le.fit_transform(melb["Suburb"])
melb.BuildingArea = melb.BuildingArea.fillna(melb.BuildingArea.mean())
melb.Landsize = melb.Landsize.fillna(melb.Landsize.mean())
melb.Distance = melb.Distance.fillna(melb.Distance.mean())

allfeature = melb[["Landsize", "BuildingArea", "newsuburb", "Distance"]]

In [134]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(allfeature, mel_price, test_size = 0.2)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
# y_pred.shape
y_pred

array([1194738.63811727, 1129541.64957941, 1176950.38079862, ...,
       1275008.8775682 ,  934743.51121404, 1179018.66092416])

In [135]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
intercept = lr.intercept_
print(r2)
print(mse)
print(mae)
print(intercept)

0.05795954816827853
276530092539.78357
349755.1883944777
1328314.9528966763

In [153]:
# Working with titanic dataset.
import pandas as pd
titanic = pd.read_csv("C:\\Users\\HP\\Documents\\DATASCIENCE\\Dataset\\Titanic-Dataset.csv")
titanic["Embarked"] = titanic["Embarked"].fillna(method="ffill")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [185]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
titanic['newEmb'] = le.fit_transform(titanic["Embarked"])
titanic['newSex'] = le.fit_transform(titanic["Sex"])

In [156]:
feature = titanic[["Pclass", "SibSp", "newSex", "Parch", "newEmb"]]
target = titanic["Survived"]

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(feature, target, random_state=1, train_size=0.8)

Xtrain.shape

(712, 5)

In [161]:
from sklearn.naive_bayes import GaussianNB # 1. choose model class
model = GaussianNB() # 2. instantiate model
model.fit(Xtrain, ytrain) # 3. fit model to data
y_model = model.predict(Xtest) # 4. predict on new data

# print("Predicted \n", y_model)
# print("Original label \n", ytest.values)
Xtest

     Pclass  SibSp  newSex  Parch  newEmb
862       1      0       0      0       2
223       3      0       1      0       2
84        2      0       0      0       2
680       3      0       0      0       1
535       2      0       0      2       2
..      ...    ...     ...    ...     ...
796       1      0       0      0       2
815       1      0       1      0       2
629       3      0       1      0       1
421       3      0       1      0       1
448       3      2       0      1       0

[179 rows x 5 columns]

In [162]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.7653631284916201

In [212]:
newfeature = pd.DataFrame([[2, 2, 0, 0, 2]], columns=["Pclass", "SibSp", "newSex", "Parch", "newEmb"])
y_model = model.predict(newfeature)
y_model

array([1], dtype=int64)

In [18]:
import pandas as pd
# melb = pd.read_csv("C:\\Users\\HP\\Documents\\DATASCIENCE\\Dataset\\Melbourne_housing_FULL.csv")
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# for val in melb.columns:
#     if melb[val].dtype == object:
#         melb["New " + val] = le.fit_transform(melb[val])
#         melb.drop(val, axis = 1, inplace=True)

# melb.dropna(inplace = True)
# melbb = melb.drop('Price', axis=1)
# melbb

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,New Suburb,New Address,New Type,New Method,New SellerG,New Date,New CouncilArea,New Regionname
2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0,0,15389,0,2,33,63,31,2
4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0,0,25128,0,5,33,64,31,2
6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,4019.0,0,27096,0,7,227,65,31,2
11,3,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,-37.80240,144.99930,4019.0,0,5635,0,2,227,70,31,2
14,2,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,-37.80600,144.99540,4019.0,0,33899,0,2,227,75,31,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,3,25.5,3750.0,3.0,2.0,2.0,383.0,118.0,2016.0,-37.61940,145.03951,2940.0,343,16082,0,0,279,38,29,2
34849,3,25.5,3750.0,3.0,2.0,2.0,404.0,158.0,2012.0,-37.61031,145.03393,2940.0,343,20662,0,5,276,38,29,2
34853,2,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,-37.81551,144.88826,6543.0,348,16982,0,5,321,38,16,6
34854,2,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0,348,7350,1,2,152,38,16,6
34856,2,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,-37.81810,144.89351,6543.0,348,17743,0,0,276,38,16,6

In [24]:
from sklearn.decomposition import PCA 

model = PCA(n_components=4)
model.fit(melbb)
X_2D = model.transform(melbb)
# X_2D

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_2D, melb.Price, test_size = 0.2, random_state=1)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred.shape
# y_pred

(1778,)

In [30]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
intercept = lr.intercept_
print(r2)
print(mse)
print(mae)
print(intercept)

0.021483185801481897
452538254575.93085
468464.4045360359
1090363.354867304

In [40]:
import pandas as pd
titanic = pd.read_csv("C:\\Users\\HP\\Documents\\DATASCIENCE\\Dataset\\Titanic-Dataset.csv")
titanic.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)
titanic["Embarked"] = titanic["Embarked"].fillna(method="ffill")
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].mean())
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [41]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for val in titanic.columns:
    if titanic[val].dtype == object:
        titanic["New " + val] = le.fit_transform(titanic[val])
        titanic.drop(val, axis = 1, inplace=True)
titanic

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,New Sex,New Embarked
0,1,0,3,22.000000,1,0,7.2500,1,2
1,2,1,1,38.000000,1,0,71.2833,0,0
2,3,1,3,26.000000,0,0,7.9250,0,2
3,4,1,1,35.000000,1,0,53.1000,0,2
4,5,0,3,35.000000,0,0,8.0500,1,2
...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.000000,0,0,13.0000,1,2
887,888,1,1,19.000000,0,0,30.0000,0,2
888,889,0,3,29.699118,1,2,23.4500,0,2
889,890,1,1,26.000000,0,0,30.0000,1,0
890,891,0,3,32.000000,0,0,7.7500,1,1

In [73]:
from sklearn.decomposition import PCA 

model = PCA(n_components=3)
model.fit(titanic.drop("Survived", axis=1))
X_2D = model.transform(titanic.drop("Survived", axis=1))

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X_2D, titanic["Survived"], random_state=1, train_size=0.8)

Xtrain.shape

from sklearn.naive_bayes import GaussianNB # 1. choose model class
model = GaussianNB() # 2. instantiate model
model.fit(Xtrain, ytrain) # 3. fit model to data
y_model = model.predict(Xtest) # 4. predict on new data

# print("Predicted \n", y_model)
# print("Original label \n", ytest.values)
Xtest

array([[-4.17013179e+02, -6.87295904e+00,  1.78058320e+01],
       [ 2.22060612e+02, -2.37374508e+01,  9.87944735e-01],
       [ 3.61074698e+02, -2.10890808e+01, -1.15274542e+01],
       [-2.34937734e+02, -2.46705854e+01,  2.35826131e-01],
       [-8.99463483e+01, -6.75870429e+00, -2.26811178e+01],
       [-1.77922756e+02, -2.50344568e+01, -8.35328718e+00],
       [ 2.97002709e+02, -5.25653374e+00,  7.43433983e+00],
       [ 4.41935912e+02,  2.21764460e+01,  5.49539097e+00],
       [ 4.10874008e+02,  5.09822656e+01, -2.28888747e+00],
       [ 2.04041751e+02, -1.61738028e+01,  7.39564781e-01],
       [-3.48928798e+02, -2.53321595e+01, -4.63552348e+00],
       [ 4.43065812e+02, -2.32304099e+01, -2.35346410e+00],
       [ 4.38906743e+02,  2.14123262e+01,  2.45319300e+01],
       [ 4.28046565e+02, -1.80940256e+01,  1.21006397e+00],
       [ 7.70617881e+01, -2.42522346e+01,  7.52891221e-01],
       [ 1.50168243e+01, -5.65006551e+00, -1.48803456e+00],
       [-3.73953487e+02, -5.76647200e+00, -2.02654772e+01],
       [-2.97947948e+02, -1.70215410e+01, -5.78321238e+00],
       [ 2.56049841e+02, -2.34885081e+01,  7.33902197e+00],
       [ 8.04411107e+00, -1.35573770e+01, -5.39856708e+00],
       [ 6.30574078e+01, -2.40600144e+01,  3.02778109e+00],
       [ 3.72049818e+02, -1.68780607e+01, -2.65232386e+00],
       [-2.65033267e+02,  1.64787836e+01, -6.53029499e+00],
       [ 5.99142986e+01,  4.11326349e+01, -1.26273306e+01],
       [ 3.34069444e+02, -1.72685451e+01, -1.42085813e+01],
       [-3.75933987e+02, -2.45843363e+01, -2.70065678e+00],
       [-2.97568341e+02,  2.29120401e+02, -1.50997162e+01],
       [-4.19970099e+02, -1.99675293e+01,  1.21189213e+01],
       [-1.73938033e+02, -2.22422284e+01, -3.40056793e+00],
       [-2.63289239e+02,  1.18431109e+02, -1.11403253e+01],
       [-4.36929911e+02, -2.30145108e+01, -7.84701996e+00],
       [ 1.47003309e+02, -1.31729483e+00,  3.23107817e-01],
       [-1.65012281e+02, -1.10626078e+00,  8.96538565e+00],
       [-2.83928851e+02, -2.51298405e+01, -4.55562728e+00],
       [-7.99557468e+01, -2.43831912e+01,  1.12936308e+01],
       [ 2.12043654e+02, -8.89675299e-01, -2.44232719e+01],
       [-6.69955984e+01, -5.91961967e+00,  6.37896395e+00],
       [ 2.91061771e+02, -2.41423378e+01,  1.11504027e+00],
       [ 7.49485384e+01,  2.33192949e+01, -5.14803898e+00],
       [-1.94920993e+02, -2.51039316e+01, -9.38011512e+00],
       [ 2.29065131e+02, -2.37574616e+01, -1.70211515e+00],
       [ 4.37056015e+02, -2.00063206e+01, -1.47143629e+00],
       [-4.26078840e+02,  1.96997484e+01,  1.60762008e+01],
       [ 1.13981933e+02, -2.99762462e+00,  1.61088591e+01],
       [-3.81962181e+02,  3.08930674e+00, -2.94213187e+01],
       [ 8.20544890e+01, -2.48088812e+01,  6.07866099e+00],
       [ 3.85993491e+02,  1.52212647e+01, -1.85600990e+01],
       [-3.49965454e+02, -1.98652402e+01,  9.23886154e+00],
       [-2.93227511e+02,  4.79331334e+02, -7.43316116e+00],
       [-3.95920150e+02, -2.30712592e+01, -1.37533707e+01],
       [ 2.64042219e+02, -1.64610432e+01,  8.92279698e-01],
       [ 3.89067829e+02, -2.09144763e+01, -7.48516046e+00],
       [ 2.07071971e+02, -2.14373689e+01, -9.77563841e+00],
       [ 1.80043466e+02, -2.10723254e+01,  7.16679425e+00],
       [ 3.64057049e+02, -2.17850663e+01,  4.79116836e-01],
       [ 3.03049950e+02, -1.57176878e+01, -4.80365840e+00],
       [ 2.03055148e+02, -2.11919528e+01,  2.09812621e-01],
       [-1.80052501e+02,  4.58860540e-01,  3.10206453e+01],
       [ 4.31984841e+02,  4.33658732e-01,  9.93952392e+00],
       [ 4.10759276e+01, -2.36847587e+01, -9.02095560e+00],
       [ 2.64905843e+02,  3.80404234e+01, -7.20361490e-01],
       [-4.13934621e+02, -2.60388751e+01, -2.74744529e-02],
       [-4.02997482e+02, -2.87816891e-01, -2.36329724e+00],
       [ 2.57987054e+02, -4.58778317e+00,  1.58932696e+01],
       [-2.79047315e+02,  2.01082110e+01, -3.66637630e+00],
       [ 1.90043450e+02, -1.64748379e+01,  2.14329010e-02],
       [-1.76940770e+02, -1.71587477e+01, -9.58546503e+00],
       [ 2.38039191e+02, -1.28960283e+01, -2.95985299e+00],
       [ 2.40100743e+02, -2.18284326e+01, -2.67417296e+01],
       [ 1.30992146e+02, -5.26903274e+00,  1.36442377e+01],
       [-1.19968986e+02, -8.51152666e+00, -5.72132446e+00],
       [-2.40990551e+02,  6.46217572e+00, -1.63630563e+01],
       [-3.44145469e+02,  4.65197677e+01,  1.45667665e+01],
       [-2.93936970e+02, -2.50699516e+01,  1.49212466e-01],
       [-3.26989447e+02, -2.18427663e+01,  2.73220474e+01],
       [-3.72012513e+02,  3.88240466e+00,  5.62150511e-01],
       [ 6.19404869e+01,  2.00955803e+01,  4.90589312e+00],
       [-3.44936314e+02, -2.53437459e+01,  7.06958085e-02],
       [-4.20413445e+01, -1.87396656e+00,  2.83157896e+01],
       [-5.91148361e+01,  5.37800851e+01, -1.51378449e+01],
       [-6.40552813e+01,  2.40102472e+01, -4.41781787e+00],
       [ 2.85905665e+02,  3.80929002e+01, -6.82482494e-01],
       [-1.89386502e+01, -2.42056617e+01,  5.92261883e-01],
       [ 2.43056827e+02, -2.49726765e+01,  5.35535734e+00],
       [-2.79418540e+01, -1.86424725e+01, -6.24759547e+00],
       [-2.67939947e+02, -2.34338149e+01, -5.47739929e-01],
       [-1.43938064e+02, -2.45284574e+01,  3.89080616e-01],
       [-1.52935833e+02, -2.53690759e+01,  3.96875602e-01],
       [-3.67955027e+02, -2.47432861e+00, -2.43639563e+01],
       [-2.80970124e+02, -1.19080545e+01,  8.58226124e-02],
       [-2.17011644e+02, -6.72537872e+00,  1.71442229e+01],
       [-1.38939678e+02, -2.38460087e+01,  3.81534062e-01],
       [-2.57928786e+02, -2.52475546e+01, -4.48301364e+00],
       [ 3.98060284e+02, -2.34232952e+01,  1.27466071e+00],
       [-4.22940441e+02, -2.37995086e+01, -1.01557364e-01],
       [-6.98939648e+00, -4.44890326e+00,  4.45155852e-01],
       [ 3.51012299e+02, -2.33005142e+01,  3.04914715e+01],
       [ 4.26061533e+02, -2.38721333e+01,  1.33426669e+00],
       [-4.31918303e+02, -2.56999432e+01, -1.07656075e+01],
       [-4.32936318e+02, -2.54289004e+01, -7.67251029e-02],
       [-3.21017522e+02,  6.57787157e+00, -6.69377861e-01],
       [-3.76930733e+02, -3.29461501e+01,  8.54674029e+00],
       [ 3.80041544e+02, -1.59680240e+01,  1.02392428e+00],
       [-2.56933923e+02, -1.87052500e+01, -1.16633951e+01],
       [ 1.15956896e+02,  2.57332167e+01, -1.41342443e+01],
       [ 9.50691133e+01, -2.29080617e+01, -5.94625765e+00],
       [ 3.55060775e+02, -2.32577365e+01,  5.01625178e-01],
       [ 2.30627750e+01, -2.42900130e+01, -3.35421676e-02],
       [ 3.95018258e+02,  7.92553849e+00, -2.23236370e+01],
       [ 9.60385374e+01, -2.29818413e+01,  1.30544849e+01],
       [-1.54094589e+02,  2.48286365e+01,  1.84223219e+01],
       [ 3.85074602e+02, -2.41724663e+01, -6.42166183e+00],
       [-1.79821679e+01, -1.87777238e+01,  1.87712685e+01],
       [ 1.78069286e+02, -2.40884813e+01, -3.79708297e+00],
       [-2.87938797e+02, -2.01143265e+01, -6.64748508e+00],
       [-2.73942316e+02, -2.50546381e+01,  3.48304148e+00],
       [ 3.28028134e+02, -1.03697689e+01,  1.22802294e-01],
       [-2.26051506e+02,  1.92478078e+01,  4.44726887e-01],
       [-7.29943989e+01, -6.22649217e+00,  6.33355925e+00],
       [-3.51940810e+02, -2.43975166e+01,  1.33085788e+00],
       [ 1.90186437e+01, -6.19351096e+00, -1.51046160e+00],
       [ 1.82840971e+02,  4.84836569e+01,  2.13718434e+01],
       [ 3.44060040e+02, -2.34224022e+01,  1.18624965e+00],
       [-3.11926453e+02, -2.18035852e+01, -1.16440543e+01],
       [ 1.26659955e+02,  1.32986830e+02, -1.87995330e+00],
       [-4.41974561e+02, -3.60998366e+00, -1.13157287e+01],
       [ 2.05150247e+00, -1.92358147e+01, -1.18387267e+00],
       [-1.08924483e+02, -2.49081149e+01, -7.24365191e+00],
       [ 2.43905862e+02,  3.79844408e+01, -7.50751399e-01],
       [-3.82936136e+02, -2.54418758e+01,  8.92870341e-03],
       [ 1.51070543e+02, -2.40665512e+01, -4.82199370e+00],
       [ 3.10373471e+01, -2.38357555e+01,  1.49661101e+01],
       [-1.98916854e+02, -1.41873783e+01, -2.89708115e+01],
       [-2.36107698e+02,  4.38429198e+01, -4.17911311e+00],
       [ 3.60035017e+02, -1.53332742e+01,  4.23921852e+00],
       [ 2.49660594e+02,  1.15656625e+02,  2.57946628e+01],
       [-1.40100413e+02,  4.67817331e+01, -1.31209175e+01],
       [ 5.90118661e+01,  1.41210856e+01, -2.90835740e+01],
       [ 7.40848124e+01, -2.58147654e+01, -1.09277339e+01],
       [-2.03925151e+02, -2.53527765e+01, -6.39311169e+00],
       [-5.32950198e+01,  1.19060625e+02, -7.84790441e+00],
       [-3.65993589e+02, -8.77021802e+00,  8.90927534e+00],
       [ 9.80336134e+00,  8.74044209e+01, -1.79285907e+01],
       [ 3.00611997e+01, -2.40773729e+01,  6.68164396e-01],
       [ 3.38060375e+02, -2.35586488e+01,  1.17959088e+00],
       [ 3.96054666e+02, -1.36817431e+01, -1.06976066e+01],
       [ 6.05270248e+00, -2.16495298e+01,  1.88798951e+00],
       [ 3.24059742e+02, -2.33199102e+01,  1.14979128e+00],
       [-4.40005731e+02, -3.96543950e+00,  8.59536536e+00],
       [-7.59250244e+01, -2.47038973e+01, -7.18936144e+00],
       [-3.39026089e+01, -2.07117197e+01, -2.72338448e+01],
       [-1.51950084e+02, -3.21023342e+01,  1.98676042e+01],
       [ 4.29053399e+02, -2.66922468e+00, -2.69931744e+01],
       [ 1.56074385e+02, -2.42451292e+01, -6.81162026e+00],
       [-2.47060654e+02,  2.36322775e+01, -1.01913434e+00],
       [-3.23941890e+02, -2.46220623e+01,  2.38752664e+00],
       [ 1.25075674e+02, -2.48303874e+01, -6.84610574e+00],
       [-3.99956312e+02, -2.53747565e+01,  1.22767550e+01],
       [-4.20946672e+02, -1.94849464e+01, -2.91258764e+00],
       [-2.12939148e+02, -1.99206490e+01, -6.52557632e+00],
       [-1.48995807e+02, -6.39893029e+00,  7.21296487e+00],
       [ 9.00600170e+01, -2.25182091e+01, -9.65451784e-01],
       [ 3.39075419e+02, -2.39017404e+01, -7.51144404e+00],
       [ 4.21992180e+02,  4.34743224e+00, -1.05570371e+00],
       [ 3.76064665e+02, -2.26609240e+01, -2.52004486e+00],
       [-3.84928029e+02, -1.91124789e+01, -1.48776823e+01],
       [-1.54976093e+02, -5.73852459e+00, -5.84957060e+00],
       [-1.98060883e+02,  2.37588134e+01, -9.39487287e-01],
       [-1.28915062e+02, -2.48400708e+01, -1.32746314e+01],
       [-2.14252843e+02,  8.12309213e+01,  2.58704459e+01],
       [ 1.85770324e+02,  4.80570040e+02, -6.65831509e+00],
       [ 3.26048458e+02, -7.84464952e-01, -2.72326750e+01],
       [ 1.87860427e+02,  5.47759732e+01, -7.47624774e-01],
       [ 2.70080448e+02, -2.39472705e+01, -1.06565589e+01],
       [-3.51015173e+02, -6.67694834e+00,  1.89123070e+01],
       [-3.69916785e+02, -3.31403649e+01,  2.63915951e-01],
       [-1.83937026e+02, -2.49446784e+01,  3.32821000e-01],
       [ 2.40766506e+01, -2.46300224e+01, -8.02120269e+00],
       [-2.92492999e+00, -1.35725428e+01, -2.44056433e+01]])

In [74]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.6145251396648045

In [76]:
newfeature = pd.DataFrame([[2, 2, 0]], columns=["PassengerId", "Survived", "Pclass"])
y_model = model.predict(newfeature)
y_model

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  warnings.warn(

array([0], dtype=int64)